In [2]:
#imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from datetime import datetime, timedelta
import time

pd.options.display.max_columns =200
pd.options.display.max_rows =500
pd.options.display.max_colwidth =500

# Get the data

In [3]:
# get the Data freom the data file: contains GTFS and SIRI data from date 07.04.19 and 08.04.19
# Trip ID to date
TripIdToDate = pd.read_csv('Data/2019-04-07T21-52-53_TripIdToDate/TripIdToDate.txt')
TripIdToDate = pd.read_csv('Data/2019-04-07T21-52-53_TripIdToDate/TripIdToDate.txt',usecols=np.arange(len(TripIdToDate.columns)))

C:\Users\assaf\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# israel public transportation
agency = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/agency.txt')
agency = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/agency.txt',usecols=np.arange(len(agency.columns)))

calendar = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/calendar.txt')
calendar = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/calendar.txt',usecols=np.arange(len(calendar.columns)))

fare_attributes = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/fare_attributes.txt')
fare_attributes = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/fare_attributes.txt',usecols=np.arange(len(fare_attributes.columns)))

fare_rules = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/fare_rules.txt')
fare_rules = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/fare_rules.txt',usecols=np.arange(len(fare_rules.columns)))

routes = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/routes.txt')
routes = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/routes.txt',usecols=np.arange(len(routes.columns)))

shapes = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/shapes.txt')
shapes = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/shapes.txt',usecols=np.arange(len(shapes.columns)))

stops = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/stops.txt')
stops = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/stops.txt',usecols=np.arange(len(stops.columns)))

translations = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/translations.txt')
translations = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/translations.txt',usecols=np.arange(len(translations.columns)))

trips = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/trips.txt')
trips = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/trips.txt',usecols=np.arange(len(trips.columns)))

In [8]:
# israel public transportation
stop_times = pd.read_csv('Data/2019-04-07T21-50-10_israel-public-transportation/stop_times.txt',nrows=10**8)
# usecols=np.arange(len(stop_times.columns))

In [9]:
# SIRI data
# siri_df = pd.read_csv('Data/siri_data_25/avivs__avivs_b3Blbi1idXM__search6_1555954965_7025.csv')
siri_df = pd.read_csv('Data/siri_data_63/1557162059_10901.csv')

show the initial GTFS and SIRI data

In [12]:
siri_df.head(2)

,timestamp,time_recorded,agency_id,route_short_name,route_id,bus_id,trip_id_to_date,planned_start_time,predicted_end_time,lat,lon
0,2019-04-08T03:53:34.763,03:33:17,5,63,2517,7900,37485924,06:05:00,06:45:00,0.0,0.0
1,2019-04-08T03:53:34.763,03:32:39,5,63,2517,10328,37485923,05:50:00,06:28:00,0.0,0.0

In [13]:
TripIdToDate.head(2)

,LineDetailRecordId,OfficeLineId,Direction,LineAlternative,FromDate,ToDate,TripId,DayInWeek,DepartureTime
0,1,67001,1,#,29/03/2019 00:00:00,18/04/2019 00:00:00,28876218,7,20:10
1,1,67001,1,#,29/03/2019 00:00:00,18/04/2019 00:00:00,28876219,7,20:45

In [14]:
agency.head(2)

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url
0,2,רכבת ישראל,http://www.rail.co.il,Asia/Jerusalem,he,NaN,NaN
1,3,אגד,http://www.egged.co.il,Asia/Jerusalem,he,NaN,NaN

In [15]:
calendar.head(2)

,service_id,sunday,monday,tuesday,wednesday,thursday,friday,saturday,start_date,end_date
0,1,0,0,0,0,0,0,1,20190427,20190427
1,2,0,0,0,0,0,0,1,20190420,20190420

In [16]:
fare_attributes.head(2)

,fare_id,price,currency_type,payment_method,transfers,agency_id,transfer_duration
0,1,5.0,ILS,0,0,4,NaN
1,2,5.0,ILS,0,0,4,NaN

In [17]:
fare_rules.head(2)

   fare_id  route_id  origin_id  destination_id  contains_id
0       64      8282      11941           11930          NaN
1      138     16548      12999           12995          NaN

In [18]:
routes.head(10)

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color
0,1,25,1,ת. רכבת יבנה מערב-יבנה<->ת. רכבת יבנה מזרח-יבנה-1#,67001-1-#,3,NaN
1,2,25,1,ת. רכבת יבנה מזרח-יבנה<->ת. רכבת יבנה מערב-יבנה-2#,67001-2-#,3,NaN
2,3,25,2,ת. רכבת יבנה מערב-יבנה<->ת. רכבת יבנה מזרח-יבנה-1#,56002-1-#,3,NaN
3,5,25,2,ת. רכבת יבנה מזרח-יבנה<->ת. רכבת יבנה מערב-יבנה-2#,56002-2-#,3,NaN
4,7,25,3,ת. רכבת יבנה מערב-יבנה<->ת. רכבת יבנה מזרח-יבנה-1#,49003-1-#,3,NaN
5,8,25,3,ת. רכבת יבנה מזרח-יבנה<->ת. רכבת יבנה מערב-יבנה-2#,49003-2-#,3,NaN
6,9,25,4,ת. רכבת יבנה מערב-יבנה<->ת. רכבת יבנה מזרח-יבנה-1#,47004-1-#,3,NaN
7,10,25,4,ת. רכבת יבנה מזרח-יבנה<->ת. רכבת יבנה מערב-יבנה-2#,47004-2-#,3,NaN
8,11,25,5,ת. רכבת יבנה מערב-יבנה<->הרימון/הברוש-בן זכאי-1#,41005-1-#,3,NaN
9,12,25,5,הרימון/הברוש-בן זכאי<->ת. רכבת יבנה מערב-יבנה-2#,41005-2-#,3,NaN

In [19]:
shapes.head(2)

   shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0     44779     31.887695     35.016271                  1
1     44779     31.887745     35.016253                  2

In [20]:
stops.head(2)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,zone_id
0,1,38831,בי''ס בר לב/בן יהודה,רחוב:בן יהודה 76 עיר: כפר סבא רציף: קומה:,32.183939,34.917812,0,NaN,6900
1,2,38832,הרצל/צומת בילו,רחוב:הרצל עיר: קרית עקרון רציף: קומה:,31.870034,34.819541,0,NaN,469

In [21]:
translations.head(3)

       trans_id lang        translation
0  מתחם יס פלנט   AR  متحام "يس بلانيت"
1  מתחם יס פלנט   EN    Yes Planet Site
2  מתחם יס פלנט   HE       מתחם יס פלנט

In [22]:
trips.head(2)

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
0,1,2,20639402_200419,רכבת מזרח/שוק,0,97105.0
1,1,2,20639403_200419,רכבת מזרח/שוק,0,97105.0

In [23]:
stop_times.head(2)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
0,10021427_110419,00:00:00,00:00:00,36133,1,0,1,0
1,10021427_110419,00:01:35,00:01:35,2356,2,0,1,499

# connect the SIRI to GTFS data

choose trip from the siri data.
input to define a specific trip: trip_id_to_date_param, siri_date

In [108]:
# chose a random trip_id_to_date (like 36331473). Notice that this can be reapeted to diffrent dates!!
trip_id_to_date_param =  37485924  #37485924 #36331473
# match the trip to the relevent date
siri_date = '2019-04-08'

siri_match_trip_id_to_date_bool = (siri_df['trip_id_to_date'] == trip_id_to_date_param)

for ind in siri_df.index:
    siri_date_bool = (siri_df['timestamp'][ind].split('T')[0] == siri_date)
    siri_match_trip_id_to_date_bool[ind] = siri_match_trip_id_to_date_bool[ind] & siri_date_bool
    
siri_df_rel = siri_df[siri_match_trip_id_to_date_bool]
siri_df_rel

,timestamp,time_recorded,agency_id,route_short_name,route_id,bus_id,trip_id_to_date,planned_start_time,predicted_end_time,lat,lon
0,2019-04-08T03:53:34.763,03:33:17,5,63,2517,7900,37485924,06:05:00,06:45:00,0.0,0.0

In [1]:
# check if theres different planned_start_time for the same trip
# print(siri_df_rel['planned_start_time'].nunique())
siri_planned_start_time = siri_df_rel.drop_duplicates(subset=['planned_start_time']).planned_start_time
siri_planned_start_time

NameError: name 'siri_df_rel' is not defined

In [110]:
# put the siri date in a time format
siri_date = siri_df_rel['timestamp'][siri_df_rel.index[0]].split('T')[0]
siri_date_t = time.strptime(siri_date, "%Y-%m-%d")
print('str ',siri_date,' date ',siri_date_t)

str  2019-04-08  date  time.struct_time(tm_year=2019, tm_mon=4, tm_mday=8, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=98, tm_isdst=-1)

In [111]:
# take the relevent route id and check if there are the same
siri_route_id = siri_df_rel['route_id'][siri_df_rel.index[0]]
print ("siri_route_id " + str(siri_route_id))
siri_df_rel.drop_duplicates(subset=['route_id']).route_id.value_counts()

siri_route_id 2517

2517    1
Name: route_id, dtype: int64

connect siri_df to TripIDToDate

In [112]:
# filter TripIdToDate according to trip_id_to_date_param and siri_route_id
TripIdToDate_rel = TripIdToDate[(TripIdToDate['TripId']==trip_id_to_date_param) & (TripIdToDate['LineDetailRecordId']==siri_route_id)]
TripIdToDate_rel

,LineDetailRecordId,OfficeLineId,Direction,LineAlternative,FromDate,ToDate,TripId,DayInWeek,DepartureTime
384350,2517,17063,1,0,03/04/2019 00:00:00,08/04/2019 00:00:00,37485924,2,06:05
385051,2517,17063,1,0,10/04/2019 00:00:00,10/04/2019 00:00:00,37485924,2,06:05
386294,2517,17063,1,0,20/04/2019 00:00:00,20/04/2019 00:00:00,37485924,2,06:05
387400,2517,17063,1,0,26/04/2019 00:00:00,12/05/2019 00:00:00,37485924,2,06:05
388410,2517,17063,1,0,17/05/2019 00:00:00,01/01/2200 00:00:00,37485924,2,06:05

In [113]:
# find the matching siri date to tripIDtodate
match_index = 0
for index in TripIdToDate_rel.index:
    ToDate = TripIdToDate_rel['ToDate'][index].split()[0]
    FromDate = TripIdToDate_rel['FromDate'][index].split()[0]
    ToDate_t = time.strptime(ToDate, "%d/%m/%Y") 
    FromDate_t = time.strptime(FromDate, "%d/%m/%Y")
#     print(siri_date_t >= FromDate_t and siri_date_t <= ToDate_t)
    if siri_date_t >= FromDate_t and siri_date_t <= ToDate_t:
        print(siri_date_t >= FromDate_t and siri_date_t <= ToDate_t)
        print(index)
        match_index = index
TripIdToDate_rel_opt = TripIdToDate_rel[TripIdToDate_rel.index==match_index]
TripIdToDate_rel_opt

True
384350

,LineDetailRecordId,OfficeLineId,Direction,LineAlternative,FromDate,ToDate,TripId,DayInWeek,DepartureTime
384350,2517,17063,1,0,03/04/2019 00:00:00,08/04/2019 00:00:00,37485924,2,06:05

In [114]:
# check if the DepartureTime matchas the planned_start_time
siri_planned_start_time_t = time.strptime(siri_planned_start_time[0],"%H:%M:%S")

DepartureTime = TripIdToDate_rel_opt['DepartureTime'][match_index]
DepartureTime_t = time.strptime(DepartureTime, "%H:%M")

match_bool = siri_planned_start_time_t == DepartureTime_t
print("match TripIdToDate DepartureTime to SIRI planned_start_time = "+str(match_bool))

match TripIdToDate DepartureTime to SIRI planned_start_time = True

connect TripIdToDate to routes

In [115]:
# build the route_desc
OfficeLineId = TripIdToDate_rel_opt["OfficeLineId"][match_index]
Direction = TripIdToDate_rel_opt["Direction"][match_index]
LineAlternative = TripIdToDate_rel_opt["LineAlternative"][match_index]
subs = str(OfficeLineId)+'-'+str(Direction)
LineDetailRecordId = TripIdToDate_rel_opt["LineDetailRecordId"][match_index]
route_desc_match = str(OfficeLineId)+'-'+str(Direction)+'-'+str(LineAlternative)
print('route_desc_match '+ str(route_desc_match))

# find the matching route according to route_desc and route_id
routes_rel = routes[(routes["route_desc"]==route_desc_match) & (routes["route_id"]==LineDetailRecordId)]
routes_rel

route_desc_match 17063-1-0

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color
818,2517,5,63,כרמלית-תל אביב יפו<->כביש 4/מחלף אלוף שדה-רמת גן-10,17063-1-0,3,NaN

connect to trips

In [116]:
trips = pd.read_csv('Data/2019-04-08T21-50-10_israel-public-transportation/trips.txt')
trips = pd.read_csv('Data/2019-04-08T21-50-10_israel-public-transportation/trips.txt',usecols=np.arange(len(trips.columns)))

# this file has only the futue - which means from 07/04/19 and onwards
trips.head(2)

# match the route_id and the trip_id
# fix the date
siri_day_str = str(siri_date_t.tm_mday)
siri_mon_str = str(siri_date_t.tm_mon)
siri_year_str = str(siri_date_t.tm_year-2000)

if siri_date_t.tm_mday<10:
    siri_day_str = '0' + str(siri_date_t.tm_mday)
if siri_date_t.tm_mon<10:
    siri_mon_str = '0' + str(siri_date_t.tm_mon)   
        
trip_id_match = str(trip_id_to_date_param)+ "_" + siri_day_str + siri_mon_str + siri_year_str
print('trip_id_match '+str(trip_id_match))

# find the matching trip according to trip_id_match and route_id
trips_rel = trips[(trips["route_id"]==LineDetailRecordId) & (trips["trip_id"]==trip_id_match)] 
trips_rel

trip_id_match 37485924_080419

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
131379,2517,10157,37485924_080419,רמת גן_צומת אלוף שדה-מסוף,0,104537.0

connect to shapes

In [117]:
# shapes.head(2)
# find the matching shape according to shape_id
shapes_rel = shapes[shapes['shape_id']==trips_rel['shape_id'][trips_rel.index[0]]]
shapes_rel

         shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
7091559    104537     32.067775     34.765476                  1
7091560    104537     32.067267     34.765122                  2
7091561    104537     32.067332     34.764997                  3
7091562    104537     32.067392     34.764883                  4
7091563    104537     32.067440     34.764793                  5
7091564    104537     32.067516     34.764647                  6
7091565    104537     32.067782     34.763959                  7
7091566    104537     32.068549     34.764239                  8
7091567    104537     32.069274     34.764503                  9
7091568    104537     32.069991     34.764778                 10
7091569    104537     32.070529     34.764971                 11
7091570    104537     32.071016     34.765131                 12
7091571    104537     32.071574     34.765391                 13
7091572    104537     32.072185     34.765660                 14
7091573    104537     32.072776     34.765897                 15
7091574    104537     32.073043     34.765996                 16
7091575    104537     32.073306     34.766092                 17
7091576    104537     32.073338     34.766151                 18
7091577    104537     32.073349     34.766179                 19
7091578    104537     32.073366     34.766248                 20
7091579    104537     32.073366     34.766375                 21
7091580    104537     32.073342     34.766452                 22
7091581    104537     32.073295     34.766615                 23
7091582    104537     32.073113     34.767240                 24
7091583    104537     32.072931     34.767870                 25
7091584    104537     32.072819     34.768327                 26
7091585    104537     32.073068     34.768405                 27
7091586    104537     32.073139     34.768419                 28
7091587    104537     32.073203     34.768421                 29
7091588    104537     32.073314     34.768382                 30
7091589    104537     32.074094     34.768112                 31
7091590    104537     32.074488     34.768085                 32
7091591    104537     32.074864     34.768059                 33
7091592    104537     32.075421     34.768021                 34
7091593    104537     32.075791     34.768063                 35
7091594    104537     32.076168     34.768105                 36
7091595    104537     32.076436     34.768164                 37
7091596    104537     32.077147     34.768292                 38
7091597    104537     32.077628     34.768427                 39
7091598    104537     32.077388     34.768909                 40
7091599    104537     32.077356     34.768968                 41
7091600    104537     32.077046     34.769572                 42
7091601    104537     32.076769     34.770069                 43
7091602    104537     32.076428     34.770739                 44
7091603    104537     32.076116     34.771339                 45
7091604    104537     32.075871     34.771769                 46
7091605    104537     32.075524     34.772461                 47
7091606    104537     32.075104     34.773279                 48
7091607    104537     32.074974     34.773530                 49
7091608    104537     32.074624     34.774200                 50
7091609    104537     32.074309     34.774777                 51
7091610    104537     32.074132     34.775145                 52
7091611    104537     32.074116     34.775173                 53
7091612    104537     32.074077     34.775225                 54
7091613    104537     32.073972     34.775327                 55
7091614    104537     32.073929     34.775397                 56
7091615    104537     32.073597     34.775933                 57
7091616    104537     32.073492     34.776155                 58
7091617    104537     32.073147     34.776822                 59
7091618    104537     32.073097     34.776918                 60
7091619    104537     32.073057     34.776990                 61
7091620    104537     32.072672     34.777730                 62
7091621    104537     32.072316     34.778492                 63
7091622    104537     32.072287     34.778582                 64
7091623    104537     32.072215     34.778838                 65
7091624    104537     32.072186     34.778930                 66
7091625    104537     32.072147     34.779027                 67
7091626    104537     32.072128     34.779061                 68
7091627    104537     32.072100     34.779089                 69
7091628    104537     32.072065     34.779108                 70
7091629    104537     32.072019     34.779121                 71
7091630    104537     32.071991     34.779120                 72
7091631    104537     32.071936     34.779108                 73
7091632    104537     32.071739     34.779045                 74
7091633    104537     32.070890     34.778751                 75
7091634    104537     32.070689     34.778692                 76
7091635    104537     32.070517     34.778641                 77
7091636    104537     32.070489     34.778783                 78
7091637    104537     32.070466     34.778904                 79
7091638    104537     32.070114     34.780287                 80
7091639    104537     32.069881     34.781147                 81
7091640    104537     32.069685     34.781917                 82
7091641    104537     32.069600     34.782512                 83
7091642    104537     32.069589     34.782563                 84
7091643    104537     32.069576     34.782841                 85
7091644    104537     32.069558     34.782930                 86
7091645    104537     32.069553     34.783107                 87
7091646    104537     32.069544     34.783330                 88
7091647    104537     32.069512     34.783715                 89
7091648    104537     32.069490     34.783937                 90
7091649    104537     32.069483     34.783988                 91
7091650    104537     32.069446     34.784492                 92
7091651    104537     32.069349     34.785817                 93
7091652    104537     32.069331     34.786070                 94
7091653    104537     32.069293     34.786517                 95
7091654    104537     32.069287     34.786614                 96
7091655    104537     32.069245     34.787087                 97
7091656    104537     32.069236     34.787218                 98
7091657    104537     32.069245     34.787463                 99
7091658    104537     32.069264     34.787530                100
7091659    104537     32.069300     34.787607                101
7091660    104537     32.069346     34.787662                102
7091661    104537     32.069410     34.787733                103
7091662    104537     32.069498     34.787805                104
7091663    104537     32.069635     34.787901                105
7091664    104537     32.069792     34.787997                106
7091665    104537     32.070015     34.788193                107
7091666    104537     32.070233     34.788391                108
7091667    104537     32.070365     34.788510                109
7091668    104537     32.070462     34.788596                110
7091669    104537     32.070605     34.788728                111
7091670    104537     32.070654     34.788777                112
7091671    104537     32.070702     34.788819                113
7091672    104537     32.070744     34.788862                114
7091673    104537     32.070775     34.788896                115
7091674    104537     32.070797     34.788922                116
7091675    104537     32.070832     34.789005                117
7091676    104537     32.070856     34.789099                118
7091677    104537     32.070867     34.789132                119
7091678    104537     32.070883     34.789151                120
7091679    104537     32.070938     34.789221                121
7091680    104537     32.070988     34.789317                122
7091681    104537     32.071018     34.789366                123
7091682    104537     32.071109     34.789440                124
7091683    104537     32.071431     34.789705                125
7091684    104537     32.071437     34.789710                126
7091685    104537     32.071600     34.789819                127
7091686    104537     32.071810     34.789948                128
7091687    104537     32.072340     34.790192                129
7091688    104537     32.072470     34.790246                130
7091689    104537     32.072758     34.790355                131
7091690    104537     32.072903     34.790406                132
7091691    104537     32.073004     34.790441                133
7091692    104537     32.073278     34.790544                134
7091693    104537     32.073458     34.790614                135
7091694    104537     32.074138     34.790902                136
7091695    104537     32.074618     34.791109                137
7091696    104537     32.075004     34.791269                138
7091697    104537     32.075182     34.791343                139
7091698    104537     32.075393     34.791454                140
7091699    104537     32.075980     34.791761                141
7091700    104537     32.076154     34.791837                142
7091701    104537     32.076323     34.791948                143
7091702    104537     32.076379     34.791989                144
7091703    104537     32.076522     34.792078                145
7091704    104537     32.076658     34.792154                146
7091705    104537     32.076798     34.792237                147
7091706    104537     32.077042     34.792473                148
7091707    104537     32.077187     34.792575                149
7091708    104537     32.077548     34.792818                150
7091709    104537     32.077800     34.792974                151
7091710    104537     32.077954     34.793105                152
7091711    104537     32.078181     34.793331                153
7091712    104537     32.078349     34.793516                154
7091713    104537     32.078394     34.793565                155
7091714    104537     32.078414     34.793587                156
7091715    104537     32.078692     34.793918                157
7091716    104537     32.078802     34.794048                158
7091717    104537     32.078935     34.794207                159
7091718    104537     32.079146     34.794447                160
7091719    104537     32.079203     34.794519                161
7091720    104537     32.079295     34.794636                162
7091721    104537     32.079451     34.794879                163
7091722    104537     32.079545     34.795022                164
7091723    104537     32.079592     34.795095                165
7091724    104537     32.079616     34.795131                166
7091725    104537     32.079736     34.795338                167
7091726    104537     32.079792     34.795432                168
7091727    104537     32.079862     34.795571                169
7091728    104537     32.079927     34.795657                171
7091729    104537     32.080019     34.795733                172
7091730    104537     32.080118     34.795809                173
7091731    104537     32.080203     34.795918                174
7091732    104537     32.080313     34.796049                175
7091733    104537     32.080516     34.796426                176
7091734    104537     32.080567     34.796524                177
7091735    104537     32.080706     34.796760                178
7091736    104537     32.080734     34.796944                179
7091737    104537     32.080737     34.796977                180
7091738    104537     32.080736     34.796998                181
7091739    104537     32.080731     34.797019                182
7091740    104537     32.080696     34.797125                183
7091741    104537     32.080580     34.797282                184
7091742    104537     32.080209     34.797761                185
7091743    104537     32.080077     34.797934                186
7091744    104537     32.079602     34.798538                187
7091745    104537     32.079419     34.798814                188
7091746    104537     32.079360     34.798903                189
7091747    104537     32.079215     34.799146                190
7091748    104537     32.079177     34.799221                191
7091749    104537     32.078955     34.799625                192
7091750    104537     32.078630     34.800271                193
7091751    104537     32.078598     34.800336                194
7091752    104537     32.078414     34.800698                195
7091753    104537     32.078231     34.801052                196
7091754    104537     32.078084     34.801321                197
7091755    104537     32.077967     34.801513                198
7091756    104537     32.077874     34.801651                199
7091757    104537     32.077653     34.801879                200
7091758    104537     32.077532     34.801949                201
7091759    104537     32.077427     34.801996                202
7091760    104537     32.077315     34.802045                203
7091761    104537     32.077233     34.802076                204
7091762    104537     32.077121     34.802108                205
7091763    104537     32.077039     34.802129                206
7091764    104537     32.076917     34.802137                207
7091765    104537     32.076773     34.802128                208
7091766    104537     32.076648     34.802115                209
7091767    104537     32.076493     34.802078                210
7091768    104537     32.076298     34.802001                211
7091769    104537     32.076148     34.801932                212
7091770    104537     32.075958     34.801847                213
7091771    104537     32.075785     34.801760                214
7091772    104537     32.075394     34.801598                215
7091773    104537     32.075316     34.801565                216
7091774    104537     32.075249     34.801539                217
7091775    104537     32.075065     34.801472                218
7091776    104537     32.074896     34.801399                219
7091777    104537     32.074733     34.801336                220
7091778    104537     32.074656     34.801303                221
7091779    104537     32.073843     34.800954                222
7091780    104537     32.073773     34.800924                223
7091781    104537     32.073209     34.800707                224
7091782    104537     32.072889     34.800580                225
7091783    104537     32.072870     34.800720                226
7091784    104537     32.072700     34.800841                227
7091785    104537     32.072322     34.801090                228
7091786    104537     32.071929     34.801387                229
7091787    104537     32.071822     34.801474                230
7091788    104537     32.071296     34.801878                231
7091789    104537     32.071217     34.801937                232
7091790    104537     32.071034     34.802056                233
7091791    104537     32.070776     34.802273                234
7091792    104537     32.070720     34.802313                235
7091793    104537     32.070492     34.802664                236
7091794    104537     32.070339     34.803186                237
7091795    104537     32.070297     34.803364                238
7091796    104537     32.070273     34.803601                239
7091797    104537     32.070267     34.803848                240
7091798    104537     32.070297     34.804266                241
7091799    104537     32.070368     34.805232                242
7091800    104537     32.070436     34.806181                243
7091801    104537     32.070438     34.806398                244
7091802    104537     32.070431     34.806400                245
7091803    104537     32.070420     34.806403                246
7091804    104537     32.070409     34.806409                247
7091805    104537     32.070399     34.806416                248
7091806    104537     32.070390     34.806424                249
7091807    104537     32.070382     34.806434                250
7091808    104537     32.070375     34.806445                251
7091809    104537     32.070370     34.806453                252
7091810    104537     32.070364     34.806469                253
7091811    104537     32.070361     34.806482                254
7091812    104537     32.070359     34.806496                255
7091813    104537     32.070358     34.806510                256
7091814    104537     32.070359     34.806523                257
7091815    104537     32.070362     34.806537                258
7091816    104537     32.070365     34.806550                259
7091817    104537     32.070371     34.806563                260
7091818    104537     32.070377     34.806574                261
7091819    104537     32.070384     34.806584                262
7091820    104537     32.070393     34.806594                263
7091821    104537     32.070399     34.806600                264
7091822    104537     32.070412     34.806608                265
7091823    104537     32.070428     34.806615                266
7091824    104537     32.070446     34.806618                267
7091825    104537     32.070458     34.806618                268
7091826    104537     32.070483     34.806830                269
7091827    104537     32.070557     34.807451                270
7091828    104537     32.070651     34.808508                271
7091829    104537     32.070651     34.808581                272
7091830    104537     32.070943     34.808586                273
7091831    104537     32.071150     34.808587                274
7091832    104537     32.071199     34.808570                275
7091833    104537     32.071260     34.808573                276
7091834    104537     32.071636     34.808600                277
7091835    104537     32.071871     34.808614                278
7091836    104537     32.072131     34.808627                279
7091837    104537     32.072930     34.808635                280
7091838    104537     32.073554     34.808587                281
7091839    104537     32.073681     34.808591                282
7091840    104537     32.073884     34.808586                283
7091841    104537     32.074033     34.808621                284
7091842    104537     32.074076     34.808628                285
7091843    104537     32.074127     34.808631                286
7091844    104537     32.074455     34.808624                287
7091845    104537     32.074509     34.808618                288
7091846    104537     32.074548     34.808608                289
7091847    104537     32.074582     34.808587                290
7091848    104537     32.074740     34.808567                291
7091849    104537     32.075117     34.808573                292
7091850    104537     32.075238     34.808582                293
7091851    104537     32.075249     34.808693                294
7091852    104537     32.075285     34.808845                295
7091853    104537     32.075388     34.809141                296
7091854    104537     32.075527     34.809416                297
7091855    104537     32.075582     34.809581                298
7091856    104537     32.075637     34.809746                299
7091857    104537     32.075667     34.809872                300
7091858    104537     32.075678     34.810021                301
7091859    104537     32.075681     34.810224                302
7091860    104537     32.075665     34.810577                303
7091861    104537     32.075668     34.810608                304
7091862    104537     32.075680     34.811547                305
7091863    104537     32.075687     34.811875                306
7091864    104537     32.075696     34.811986                307

connect to calender

In [139]:
# find the matching calendar according to service_id
calendar = pd.read_csv('Data/2019-04-08T21-50-10_israel-public-transportation/calendar.txt')
calendar = pd.read_csv('Data/2019-04-08T21-50-10_israel-public-transportation/calendar.txt',usecols=np.arange(len(calendar.columns)))

calendar_rel = calendar[calendar['service_id']==trips_rel['service_id'][trips_rel.index[0]]]

# filter according to date (siri_date_t)
for index in calendar_rel.index:
    start_date = calendar_rel['start_date'][index]
    end_date = calendar_rel['end_date'][index]
    start_date_t = time.strptime(str(start_date), "%Y%m%d") 
    end_date_t = time.strptime(str(end_date), "%Y%m%d")
#     print(siri_date_t >= start_date_t and siri_date_t <= end_date_t)
#     print(start_date_t)
#     print(end_date_t)
    if siri_date_t >= start_date_t and siri_date_t <= end_date_t:
        print(siri_date_t >= start_date_t and siri_date_t <= end_date_t)
        print('match_index '+str(index))
        match_index = index
        
calendar_rel_opt = calendar_rel[calendar_rel.index == match_index]
calendar_rel_opt

True
match_index 10156

,service_id,sunday,monday,tuesday,wednesday,thursday,friday,saturday,start_date,end_date
10156,10157,0,1,1,1,1,0,0,20190408,20190408

connect to stop times

In [141]:
# read updated data from 08.04.19
stop_times = pd.read_csv('Data/2019-04-08T21-50-10_israel-public-transportation/stop_times.txt',nrows=10**8)
# stop_times.head(2)

# find the matching stop_times according to trip_id_match
stop_times_rel = stop_times[stop_times['trip_id'] == trip_id_match]
stop_times_rel

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
22897894,37485924_080419,06:05:00,06:05:00,14322,1,0,1,0
22897895,37485924_080419,06:06:36,06:06:36,13488,2,0,0,439
22897896,37485924_080419,06:08:15,06:08:15,13551,3,0,0,964
22897897,37485924_080419,06:09:59,06:09:59,13314,4,0,0,1477
22897898,37485924_080419,06:11:17,06:11:17,13556,5,0,0,1840
22897899,37485924_080419,06:13:16,06:13:16,13582,6,0,0,2368
22897900,37485924_080419,06:14:03,06:14:03,13584,7,0,0,2648
22897901,37485924_080419,06:14:41,06:14:41,13575,8,0,0,2826
22897902,37485924_080419,06:16:21,06:16:21,12998,9,0,0,3239
22897903,37485924_080419,06:17:06,06:17:06,13226,10,0,0,3418
22897904,37485924_080419,06:19:25,06:19:25,12932,11,0,0,4110
22897905,37485924_080419,06:20:25,06:20:25,13320,12,0,0,4448
22897906,37485924_080419,06:28:30,06:28:30,12880,13,0,0,5834
22897907,37485924_080419,06:30:42,06:30:42,14542,14,0,0,6468
22897908,37485924_080419,06:31:50,06:31:50,13814,15,0,0,6851
22897909,37485924_080419,06:32:48,06:32:48,13820,16,0,0,7292
22897910,37485924_080419,06:33:44,06:33:44,12844,17,0,0,7624
22897911,37485924_080419,06:34:07,06:34:07,12843,18,0,0,7792
22897912,37485924_080419,06:35:31,06:35:31,13836,19,0,0,8161
22897913,37485924_080419,06:37:12,06:37:12,13839,20,0,0,8637
22897914,37485924_080419,06:37:50,06:37:50,13886,21,0,0,8926
22897915,37485924_080419,06:39:18,06:39:18,13894,22,0,0,9378
22897916,37485924_080419,06:40:50,06:40:50,13896,23,0,0,9782
22897917,37485924_080419,06:42:48,06:42:48,13883,24,0,0,10273
22897918,37485924_080419,06:44:07,06:44:07,13878,25,0,0,10651
22897919,37485924_080419,06:45:50,06:45:50,13879,26,0,0,11020
22897920,37485924_080419,06:46:50,06:46:50,13863,27,0,0,11281
22897921,37485924_080419,06:48:33,06:48:33,12816,28,0,0,11726
22897922,37485924_080419,06:50:39,06:50:39,12837,29,0,0,12361
22897923,37485924_080419,06:52:33,06:52:33,12867,30,1,0,13184

connect to stops

In [142]:
# stops.head(20)
# find the matching stops according to stop_id
stop_total = (stops['stop_id'] == stop_times_rel['stop_id'][stop_times_rel.index[0]])
for ind in stop_times_rel.index:
    stop_bool = stops['stop_id'] == stop_times_rel['stop_id'][ind]
    stop_total = (stop_total) | (stop_bool)
    
stops_rel = stops[stop_total]
stops_rel

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,zone_id
9634,12816,21002,אלוף שדה/דרך יצחק רבין,רחוב:אלוף שדה עיר: רמת גן רציף: קומה:,32.059689,34.822156,0,NaN,8600
9654,12837,21041,אלוף שדה/הירדן,רחוב:אלוף שדה עיר: רמת גן רציף: קומה:,32.058355,34.828604,0,NaN,8600
9659,12843,21075,ויצמן/ז'בוטינסקי,רחוב:וייצמן 23 עיר: גבעתיים רציף: קומה:,32.073859,34.808640,0,NaN,6300
9660,12844,21076,ויצמן/צה''ל,רחוב:וייצמן 37 עיר: גבעתיים רציף: קומה:,32.072340,34.808682,0,NaN,6300
9674,12867,21109,כביש 4/מחלף אלוף שדה,רחוב: עיר: רמת גן רציף: קומה:,32.054798,34.833799,0,NaN,8600
9680,12880,21126,ערבי נחל/בורוכוב,רחוב:ערבי נחל 18 עיר: תל אביב יפו רציף: קומה:,32.078332,34.800753,0,NaN,5000
9720,12932,21221,גשר קלקא/דרך בגין,רחוב:דרך מנחם בגין 122 עיר: תל אביב יפו רציף: קומה:,32.071436,34.789770,0,NaN,5000
9763,12998,21316,החשמונאים/יהודה הלוי,רחוב:החשמונאים 78 עיר: תל אביב יפו רציף: קומה:,32.069677,34.781765,0,NaN,5000
9949,13226,21729,החשמונאים/קרליבך,רחוב:החשמונאים 84 עיר: תל אביב יפו רציף: קומה:,32.069472,34.783648,0,NaN,5000
10027,13314,23006,בן יהודה/בוגרשוב,רחוב:בן יהודה 38 עיר: תל אביב יפו רציף: קומה:,32.076831,34.768288,0,NaN,5000
10032,13320,23014,קניון עזריאלי/דרך בגין,רחוב:דרך מנחם בגין 132 עיר: תל אביב יפו רציף: קומה:,32.074292,34.791025,0,NaN,5000
10171,13488,25365,הירקון/עזרא הסופר,רחוב:הירקון 18 עיר: תל אביב יפו רציף: קומה:,32.070195,34.764907,0,NaN,5000
10225,13551,25532,אלנבי/הכובשים,רחוב:אלנבי 28 עיר: תל אביב יפו רציף: קומה:,32.072931,34.767704,0,NaN,5000
10229,13556,25552,בוגרשוב/פינסקר,רחוב:בוגרשוב 40 עיר: תל אביב יפו רציף: קומה:,32.076306,34.770873,0,NaN,5000
10245,13575,25592,הבימה/שד' רוטשילד,רחוב:שדרות רוטשילד 135 עיר: תל אביב יפו רציף: קומה:,32.071428,34.778882,0,NaN,5000
10248,13582,25608,'שד' בן ציון/המלך ג'ורג,רחוב:שדרות בן ציון 4 עיר: תל אביב יפו רציף: קומה:,32.073756,34.775586,0,NaN,5000
10250,13584,25612,הבימה/שד' בן ציון,רחוב:שדרות בן ציון 34 עיר: תל אביב יפו רציף: קומה:,32.072438,34.778120,0,NaN,5000
10454,13814,26091,ב. עלמין נחלת יצחק/רמב''ם,רחוב:רמב''ם 5 עיר: גבעתיים רציף: קומה:,32.070507,34.802554,0,NaN,6300
10460,13820,26098,רמב''ם/אילת,רחוב:רמב''ם 28 עיר: גבעתיים רציף: קומה:,32.070466,34.807074,0,NaN,6300
10475,13836,26130,גן הזיכרון/כצנלסון,רחוב:כצנלסון 82 עיר: גבעתיים רציף: קומה:,32.075625,34.810752,0,NaN,6300
10478,13839,26135,כצנלסון/סירקין,רחוב:כצנלסון 118 עיר: גבעתיים רציף: קומה:,32.076926,34.815073,0,NaN,6300
10501,13863,26166,הרא''ה/דרך יצחק רבין,רחוב:הרא''ה 262 עיר: רמת גן רציף: קומה:,32.061914,34.821781,0,NaN,8600
10514,13878,26187,עוזיאל/פנחס רוטנברג,רחוב:עוזיאל 130 עיר: רמת גן רציף: קומה:,32.064679,34.820443,0,NaN,8600
10515,13879,26188,הרא''ה/פנחס רוטנברג,רחוב:הרא''ה 240 עיר: רמת גן רציף: קומה:,32.063607,34.823418,0,NaN,8600
10519,13883,26192,עוזיאל/טרומן,רחוב:עוזיאל 108 עיר: רמת גן רציף: קומה:,32.067943,34.821594,0,NaN,8600
10522,13886,26196,כצנלסון/דרך בן גוריון,רחוב:כצנלסון 150 עיר: גבעתיים רציף: קומה:,32.075330,34.817500,0,NaN,6300
10530,13894,26205,שד. ירושלים/מוריה,רחוב:שדרות ירושלים 26 עיר: רמת גן רציף: קומה:,32.074616,34.821709,0,NaN,8600
10532,13896,26207,ביה''ס חורב/עוזיאל,רחוב:עוזיאל 72 עיר: רמת גן רציף: קומה:,32.072195,34.822999,0,NaN,8600
10917,14322,26959,כרמלית,רחוב: עיר: תל אביב יפו רציף: קומה:,32.067544,34.765253,0,NaN,5000
11085,14542,28574,עליית הנוער/כצנלסון,רחוב:עליית הנוער 42 עיר: תל אביב יפו רציף: קומה:,32.073374,34.800715,0,NaN,5000

In [143]:
# check that we didn't miss a station
len(stop_times_rel.index) == len(stops_rel.index)

True